body {
    width: 1200px;
    margin: 0 auto;
    background-color: rgb(39, 39, 88);
    color: white;
}

#container {
    font-size: large;
    font-weight: 1oo;
}

h1 {
    text-align: center;
}

table {
    text-align: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid;
    border-radius: 5px;
    border-collapse: collapse;
}

th {
    border: 1px solid; 

}

td {
    border: 2px solid green;
}

td:hover {
    border: 4px solid pink;
}

td:active {
    background-color: burlywood;
}

tr {
    border: 3px dotted red;
}

p {
    margin-bottom: 50px;
}

#contact {
    visibility: hidden;
}

.disappear {
    visibility: hidden;
}